<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618974683566-5i9r2f3l7gceqrb2dmto967d272oucud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618974683566-5i9r2f3l7gceqrb2dmto967d272oucud</string>
	<key>API_KEY</key>
	<string>AIzaSyDQk3Gjj9H5GaKK_Zg0qdUP2Z-I9jmkROc</string>
	<key>GCM_SENDER_ID</key>
	<string>618974683566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginScreen</string>
	<key>PROJECT_ID</key>
	<string>loginscreen-bfad5</string>
	<key>STORAGE_BUCKET</key>
	<string>loginscreen-bfad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618974683566:ios:f3dd0b43300f26b153683f</string>
</dict>
</plist>